/**
 * Catalog
 * 
 * The catalog plugin adds a catalog or webshop to Wolf CMS.
 * 
 * @package     Plugins
 * @subpackage  catalog
 * 
 * @author      Nic Wortel <nic.wortel@nth-root.nl>
 * @copyright   Nic Wortel, 2012
 * @version     0.0.1
 */

body#body_plugin_catalog div#content h1 {
    margin-bottom: 20px;
}

body#body_plugin_catalog div.form-area {
    margin: -20px;
}

body#body_plugin_catalog div#content table,
body#body_plugin_catalog div#content th,
body#body_plugin_catalog div#content td {
    border: 1px solid #ddd;
    vertical-align: top;
}

body#body_plugin_catalog div#content table {
    width: 100%;
}

body#body_plugin_catalog div#content th {
    background-color: #e6e6e6;
}

body#body_plugin_catalog div#content tr:nth-child(odd) {
    background-color: #fff;
}
body#body_plugin_catalog div#content tr:nth-child(even) {
    background-color: #f4f4f4;
}

body#body_plugin_catalog div#content th,
body#body_plugin_catalog div#content td {
    padding: 2px 4px;
    text-align: left;
}

body#body_plugin_catalog div#content td.label {
    width: 180px;
}


/*body#body_plugin_catalog div#content th.sorted.ascending:after {
    content: url("images/sort_up.png");
}
body#body_plugin_catalog div#content th.sorted.descending:after {
    content: url("images/sort_down.png");
}*/

body#body_plugin_catalog div#content th a {
    padding-right: 11px;
}
body#body_plugin_catalog div#content th.sorted.ascending a {
    background-image:url('images/sort_up.png');
    background-repeat:no-repeat;
    background-position: right center;
}
body#body_plugin_catalog div#content th.sorted.descending a {
    background-image:url('images/sort_down.png');
    background-repeat:no-repeat;
    background-position: right center;
}

body#body_plugin_catalog div#content th.number,
body#body_plugin_catalog div#content td.number {
    width: 50px;
    text-align: right;
}

body#body_plugin_catalog div#content th.number.long,
body#body_plugin_catalog div#content td.number.long {
    width: 70px;
    text-align: right;
}

body#body_plugin_catalog div#content th.price,
body#body_plugin_catalog div#content td.price {
    width: 80px;
    text-align: right;
}

body#body_plugin_catalog div#content th.icon,
body#body_plugin_catalog div#content td.icon {
    width: 60px;
    vertical-align: middle;
    text-align: center;
}

body#body_plugin_catalog div#content td.label {
    text-align: right;
}

body#body_plugin_catalog div#content td .not-applicable {
    color: #bbb;
}

body#body_plugin_catalog div#content input.number {
    text-align: right;
}

body#body_plugin_catalog div#content textarea {
    width: 100% !important;
    min-height: 200px;
}