/**
 * Catalog
 * 
 * The catalog plugin adds a catalog or webshop to Wolf CMS.
 * 
 * @package     Plugins
 * @subpackage  catalog
 * 
 * @author      Nic Wortel <nic.wortel@nth-root.nl>
 * @copyright   Nic Wortel, 2012
 * @version     0.2.1
 */

body#body_plugin_catalog
{
    div.form-area {
        margin: -20px;
    }

    div#content
    {
        h1 {
            margin-bottom: 20px;
        }

        table,
        th,
        td {
            border: 1px solid #ddd;
            vertical-align: top;
        }

        table {
            width: 100%;
        }

        th {
            background-color: #e6e6e6;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f4f4f4;
        }

        th,
        td {
            padding: 2px 4px;
            text-align: left;
        }

        td.label {
            width: 180px;
        }

        th.tablesorter-header
        {
            background-image: url("data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==");
            background-position: right center;
            background-repeat: no-repeat;
            cursor: pointer;
            padding: 2px 18px 2px 4px;
            white-space: normal;

            &.sorter-false
            {
                background-image: none;
                padding: 2px 4px;
            }
        }
        th.tablesorter-headerAsc {
            background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7");
        }
        th.tablesorter-headerDesc {
            background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7");
        }

        th.number,
        td.number {
            width: 50px;
            text-align: right;
        }

        th.number.long,
        td.number.long {
            width: 70px;
            text-align: right;
        }

        th.price,
        td.price {
            width: 80px;
            text-align: right;
        }

        th.icon,
        td.icon {
            width: 60px;
            vertical-align: middle;
            text-align: center;
        }

        td.label {
            text-align: right;
        }

        td .not-applicable {
            color: #bbb;
        }

        input.number {
            text-align: right;
        }

        table#variants input {
            width: 120px;
        }
        table#variants input.number {
            width: 60px;
        }

        textarea {
            width: 100% !important;
            min-height: 200px;
        }

        label[for] {
            cursor: pointer;
        }

    }
}
